{% extends 'base.html' %}

<!-- changing title of page -->

{% block title %}
List Applicant Form
{% endblock title %}

{% block body %}

{% load static %}
<form action="/viewResume" method="post">
  {% csrf_token %}
  <div class="card-deck">
      

    <!-- if  created display info of that  option to view that-->
    <div class="container-fluid pt-5 pb-3">
      
      <div class="row">
        <div class="col-sm-3"> </div>
        <div class="col-sm-6 d-flex justify-content-center">
          <div class="card" style="width: 20rem;">
            <div class="card">
              <!-- <img class="card-img-top" src="{% static '/images/resume-5.jpg' %}" alt="Card image cap"> -->
              <div class="card-body">
                {% for message in messages %}
                  <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert" style="background-color: #f80707 !important;">
                    {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                {% endfor %}
                <label for="cno" class="form-label">Phone Number*</label>
                <div class="form-group">
                  <input type="text" class="form-control mb-3" id="Contact_number" onkeypress="Contact_number1()" name="Contact_number" maxlength="10"
                    placeholder="Enter Phone Number" required>
              </div>
              </div>
              <div class="card-footer text-center">
                <input type="submit" name = "button1" class="btn btn-success" value="View Burial Certificate">
                <input type="submit" name = "button2" class="btn btn-success" value="View Letter Head">
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3"> </div>
      </div>
    </div>
  
    <!-- if no  created, display this -->


    <!-- <div class="container-fluid pt-5 pb-3">
      <div class="row">
        <div class="col-sm-3"> </div>
        <div class="col-sm-6 d-flex justify-content-center">
          <div class="card" style="width: 20rem;">
            <div class="card">
              <img class="card-img-top" src="{% static '/images/resume-5.jpg' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title"> You haven't created Any Applicant Form yet! </h5>
                <p class="card-text">Lets get started! Create your first now!</p>
              </div>
              <div class="card-footer text-center">
                <a href="/addResume" class="btn btn-success"> CREATE </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3"> </div>
      </div>
    </div>  -->
</form>
<script>        
  function Contact_number1(){          
   $('#Contact_number').keypress(function(e) {
       var a = [];
       var k = e.which;

       for (i = 48; i < 58; i++)
           a.push(i);

       if (!(a.indexOf(k)>=0))
           e.preventDefault();
   });
}
</script>




  {% endblock body %}